@import "tailwindcss";

@theme {
  --color-umass-red: #8E122A;
}

@utility cursor-camera {
  cursor:
    url("/camera-cursor.png") 16 16,
    auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jaldi), Arial, Helvetica, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
