@import "tailwindcss";

@theme {
  --color-umass-red: #8e122a;
  --color-umass-red-dark: #6b0f20;
  --color-umass-gray-light: oklch(87.2% 0.01 258.338);
  --color-umass-gray: oklch(70.7% 0.022 261.325);
  --color-umass-gray-dark: oklch(55.1% 0.027 264.364);
  --radius-default: 0.375rem;
}

@utility cursor-camera {
  cursor:
    url("/camera-cursor.png") 16 16,
    auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-jaldi), Arial, Helvetica, sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
