name: Build and Test

on:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    environment: testing

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Create `.env` file
      run: echo ${{ secrets.ENV_FILE_CONTENT }} >> .env
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
