name: Build and Test

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"
      - name: Install Dependencies
        run: npm ci
      - name: Lint Codebase
        run: npm run lint
      - run: npx supabase start
      - run: npx supabase status --output=env > .env
      - run: echo "MODE=testing" >> .env
      - run: echo "CRON_SECRET=insecure_secret" >> .env
      - run: npm run build
      - run: npx playwright install --with-deps
      - run: npx playwright install chrome
      - run: npx playwright install msedge
      - run: npm test
      - name: Archive code coverage results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: |
            playwright-report
            test-results
