name: Build and Test

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 24
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "npm"
      - name: Install Dependencies
        run: npm ci
      - name: Lint Codebase
        run: npm run lint
      - uses: supabase/setup-cli@v1
        with:
          version: latest
      - run: supabase start
      - run: supabase status --output=env > .env
      - run: npm run build
      - run: npx playwright install --with-deps
      - run: npx playwright install chrome
      - run: npx playwright install msedge
      - run: npm test
