name: Build and Test

on:
  pull_request:
  push:
    branches:
      - 'main'

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - uses: supabase/setup-cli@v1
      with:
        version: latest
    - run: supabase init
    - run: supabase db start
    - run: npm ci
    - run: npm run build
    - run: npm test
